PORT=4300

CHRVA_DB_HOST=localhost
CHRVA_DB_PORT=1433
CHRVA_DB_NAME=chrva_juniors_dev
CHRVA_DB_USER=sa
CHRVA_DB_PASSWORD=
CHRVA_DB_ENCRYPT=false
CHRVA_DB_TRUST_SERVER_CERT=true
CHRVA_DB_CONNECTION_TIMEOUT=15000
CHRVA_DB_REQUEST_TIMEOUT=15000

CHRVA_PREVIOUS_SEASON=2026
CHRVA_CURRENT_SEASON=2027
CHRVA_NEXT_SEASON=2028
CHRVA_SEASON_STATUS=Open
CHRVA_SANCTION_STATUS=Open

CHRVA_AUTH_SECRET=replace-with-a-long-random-secret
